path/to/large-file.ext filter=lfs diff=lfs merge=lfs -text
C:/Users/niteshiit/Downloads/isnet.pth filter=lfs diff=lfs merge=lfs -text
C://Users//niteshiit//Downloads//isnet.pth filter=lfs diff=lfs merge=lfs -text
